/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 31, 2018, 11:31:19 AM
    Author     : darthvader
*/
body, html{
    height: 100%;
}
body{
    background-color: RGBA(0, 0, 0, 1.00);
    color: RGBA(209, 213, 205, 1.00);
    font-size: 24px;
    text-align: center;
}

.nav {
    /*    display:flex;
        justify-content: space-around;
        flex-wrap: wrap;*/
    color: white;
}

a{
    color:white;
    text-decoration: none;
}
a:hover{
  font-style: oblique;
  color: RGBA(193, 193, 194, 1.00);
}

hr {
    color: #f00;
    background-color: #f00;
    height: 5px;
    border: 0;
    width: 100%;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    /*    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);*/
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

p{
    font-size: 36px;
}


/*==============LANDING IMAGE================*/

.hero-image {
    background-image: url("../images/bossPlane.jpg");
    width: 100%;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 2%;
    left: 20%;
}

/*=========================
        MODAL
=========================*/

/*=======MODAL BACKGROUND======*/
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}

.modal-backdrop {
    z-index: -1;
}

/*=========MODAL CONTENT==========*/
.modal-content {
    background-color: RGBA(47, 52, 54, 0.6);
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/*======INPUT FEILDS=====*/
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/*body {
}*/
form {
    display: inline-block;
}
/*========BUTTONS========*/
.loginBtn {
    width: 100%;
    padding: 10px 18px;
    background-color: RGBA(103, 175, 241, 1.00);
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.modalContainer {
    justify-content: center;
    align-items: center;
}

/*======THE CLOSE (X) BUTTON IN IMG CONTAINER==========*/
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: white;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/*==========AVATAR CONTAINER==========*/
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}


/*=================MAIN CONTENT====================*/
.contentContainer{
    margin: 40px;
}

/*==============Users================*/
div#mainUserWindow {
    background: #474141;
    width: 100%;
    height: 600px;
}

#mainUserWindowPic {
    background: url('../images/bossPlane.jpg');
    background-size: contain;
    width: 100%;
    height: 100px;
}

#viewItems {
    overflow-y: auto;
    height: 430px;
}

.viewItem {
    padding-top: 10px;
    border-top: 3px solid whitesmoke;
    border-bottom: 3px solid whitesmoke;
    height: 65px;
}
 

.itemBrief.toggled { 
    display: none;
}

.itemOptions.toggled { 
    display: none;
}


.viewItem.toggled { 
    height: 100px;
}

.itemBrief.toggled { 
    display: block;
}

.itemOptions.toggled { 
    display: block;
}

.viewItem:hover {
    cursor: pointer;
    background: whitesmoke;
    color: #474141;
}

.itemDate {
    text-align: left;
    font-size: 12px;
}

.itemSummary {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    width: 750px;
}

.itemSummary p {
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical; 
    box-orient: vertical; 
}

.itemToggle {
    font-size: 11px;
}



/*=================TAGS ====================*/

/* Example CSS */

  .tagging {
	border: 1px solid #CCCCCC;
	font-size: 1em;
	height: auto;
	padding: 10px 10px 15px;
}

.tagging.editable {
	cursor: text;
}

.taggable-container {
	width: 600px;
	border: 2px solid green;
	border-radius: 5px;
	height: auto;
	padding: 5px;
	box-sizing: border-box;
}

.taggable-tags {
	padding: 0;
	margin: 0;

.tag span {
	background: none repeat scroll 0 0 #D66806;
	border-radius: 2px 0 0 2px;
	margin-right: 5px;
	padding: 5px 10px 5px;
}

.tag .tag-i {
	color: white;
	cursor: pointer;
	font-size: 1.3em;
	height: 0;
	line-height: 0.1em;
	position: absolute;
	right: 5px;
	top: 0.7em;
	text-align: center;
	width: 10px;
}

.taggable-tag {
	list-style: none;
	float: left;
	border: 2px solid green;
	border-radius: 5px;	
	padding: 6px 36px 6px 12px;
	margin: 0 10px 0 0;
	position: relative;
	
	transition-property: border-color;
	

	animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	
	&.adding {
		animation-duration: 400ms;
		animation-name: bounceIn;
	}	
	
	&.deleting {
		animation-duration: 300ms;
		animation-name: bounceOut;
	}
	
	&:hover {

	}	
}

.taggable-text {
	 float: left;
}

.taggable-remove {
	position: absolute;
	right: 0px;
	top: 0;
	border: 0;
	width: 32px;
	height: 32px;
	cursor: pointer;
	padding: 0;
        
        }
.tag .tag-i:hover {
	color: black;
	text-decoration: underline;
}

.type-zone {
	border: 0 none;
	height: auto;
	width: auto;
	min-width: 20px;
	display: inline-block;
}

.type-zone:focus {
	outline: none;
}

}

